
@model SensoreAPPMVC.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div>
  <h1>Login</h1>
  <form asp-action="Login" asp-controller="Account" method="post">
    <div>
      <label asp-for="Email"></label>
      <input asp-for="Email" />
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
      <label asp-for="Password"></label>
      <input asp-for="Password" type="password" />
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit">Login</button>


  </form>
</div>  
